body {
  font-family: $body-font;
  color: $primary-dark;
}

html,
body {
  margin: 0;
  height: 100vh;
  // overflow-y: hidden;
}

.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#root {
  margin: 0;
  height: 100%;
}

h2 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
  color: $accent-blue;

  transition: 0.1s ease-in color;

  &:hover {
    color: $primary-dark;
  }
}

.control-button {
  padding: 0.5rem 0.7rem;
  border: 1px solid $primary-gray;
  border-radius: 3px;
  font-family: $body-font;
  font-size: 0.9rem;
  background-color: $accent-blue;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $primary-dark;
  }

  &.control- {
    &danger {
      background-color: $accent-red;
      border-color: $primary-gray;

      &:hover {
        background-color: white;
        color: $primary-dark;
        border-color: $primary-dark;
      }
    }
  }
}

.ScrollbarsCustom-Track {
  height: 100% !important;
  top: 0 !important;
  border-radius: 0 !important;
  width: 5px !important;
}
.ScrollbarsCustom-Thumb {
  border-radius: 0 !important;
  background-color: $primary-gray !important;
}
