body {
  font-family: $body-font;
  color: $primary-dark;
  height: 100%;
}

html {
  height: 100%;
}

h2 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
  color: $accent-blue;

  transition: 0.1s ease-in color;

  &:hover {
    color: $primary-dark;
  }
}
