$header-font: "Karla", sans-serif;
$body-font: "Karla", sans-serif;

$primary-dark: #031927;
$primary-gray: #7f8c8d;
$primary-lightgray: #ecf0f1;
$primary-light: #9dd1f1;
$accent-blue: #3581b8;
$accent-red: #ed254e;
$accent-yellow: #f9dc5c;
