$header-font: "Quicksand", sans-serif;
$body-font: "Roboto", sans-serif;

$primary-dark: #333333;
$secondary-dark: #656565;
// $primary-dark: #031927;
// $primary-gray: #c2c2c2;
$primary-gray: #787878;
// $primary-lightgray: #ecf0f1;
$primary-lightgray: #c2c2c2;
$secondary-lightgray: #e9e9e9;
$primary-light: #9dd1f1;
$accent-blue: #3581b8;
$accent-red: #ed254e;
$accent-yellow: #f9dc5c;
