.form-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  .form {
    width: 250px;
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

.form {
  display: flex;
  flex-direction: column;

  label {
    text-transform: uppercase;
    font-size: 1rem;
    color: $primary-gray;
    font-family: $header-font;
    margin-bottom: 0.2rem;
  }

  input {
    font-size: 1rem;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    // border: 1px solid $primary-gray;
    border: none;
    background-color: $secondary-lightgray;
    width: 100%;
    box-sizing: border-box;

    font-family: $body-font;
    height: 40px;

    &[type="submit"] {
      background-color: $accent-blue;
      color: white;
      border: 1px solid $accent-blue;

      transition: 0.05s ease-in color;
      transition: 0.05s ease-in background;

      cursor: pointer;

      &:hover {
        background-color: white;
        color: $primary-gray;
        border: 1px solid $primary-gray;
      }
    }

    &[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  .inline-input {
    display: flex;
    margin-bottom: 0.6rem;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      margin-bottom: 0;
      flex: 1;
    }

    button {
      padding: 0 3rem;
      margin: 0;
      display: inline-block;
      border: 1px solid $accent-blue;
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: $accent-blue;
      color: white;
      transition: 0.05s ease-in color;
      transition: 0.05s ease-in background;

      cursor: pointer;

      &:hover {
        background-color: white;
        color: $primary-gray;
        border: 1px solid $primary-gray;
        border-left: none;
      }
    }
  }
}
.form-container {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  width: 100%;
  flex: 1;

  h2 {
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

.FloatingLabelInput {
  position: relative;
  label {
    position: absolute;
    top: 12px;
    left: 7px;
    pointer-events: none;
    transition: text-shadow 35ms ease-in;
    transition: transform 35ms ease-in;

    &.focused {
      transform: translateY(-20px);
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    }
  }
}
