.form-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  h2 {
    margin-bottom: 3rem;
    font-weight: bold;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    // text-transform: uppercase;
    font-size: 1rem;
    color: $primary-gray;
    font-family: $header-font;
    margin-bottom: 0.2rem;
  }

  input {
    font-size: 1rem;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    // border: 1px solid $primary-gray;
    border: none;
    background-color: $secondary-lightgray;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
    // padding-bottom: 10px;

    font-family: $body-font;
    height: 50px;

    &[type="submit"] {
      background-color: $accent-blue;
      color: white;
      border: 1px solid $accent-blue;
      padding: 0;
      margin-bottom: 1rem;

      transition: 0.05s ease-in color;
      transition: 0.05s ease-in background;

      cursor: pointer;

      &:hover {
        background-color: white;
        color: $primary-gray;
        border: 1px solid $primary-gray;
      }
    }

    &[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  .inline-input {
    display: flex;
    margin-bottom: 0.6rem;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      margin-bottom: 0;
      flex: 1;
    }
  }
}
.form-container {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  width: 100%;

  h2 {
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

.FloatingLabelInput {
  position: relative;
  label {
    position: absolute;
    // top: 12px;
    top: 16px;
    left: 7px;
    pointer-events: none;
    transition: text-shadow 35ms ease-in;
    transition: transform 35ms ease-in;
    transform-origin: top left;

    &.focused {
      transform: translateY(-10px) scale(0.6);
    }
  }
}
