.MealList {
  // padding: 0.5rem 0;
  // max-width: 170px;
  min-width: 170px;
  background-color: $primary-lightgray;
  height: 100%;
  overflow-y: scroll;

  h3 {
    font-size: 1rem;
    color: $primary-gray;
    border-bottom: 1px solid $primary-gray;
  }

  ol {
    li.MealList-meal {
      font-size: 1rem;
      padding: 0.6rem 0.4rem 0.6rem 1rem;
      cursor: pointer;
      text-transform: capitalize;

      &:hover {
        background-color: $primary-lightgray;
        // border-right: 4px solid $accent-blue;
        color: $accent-blue;
      }

      &.MealList-meal-selected {
        background-color: $accent-blue;
        color: white;
      }
    }
    li.MealList-add {
      color: $accent-blue;
      text-transform: uppercase;
      font-weight: bold;

      &.MealList-add-selected {
        background-color: $accent-yellow;
        color: $primary-dark;
      }
    }
  }
}
