.MealAddCheckbox {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;

  label {
    position: absolute;
    // top: 12px;
    top: 16px;
    left: 7px;
    pointer-events: none;
    transition: text-shadow 35ms ease-in;
    transition: transform 35ms ease-in;
    transform-origin: top left;

    &.focused {
      transform: translateY(-10px) scale(0.6);
    }
  }

  .ingredient-checkbox {
    margin-bottom: 0;
    width: 100%;
    display: flex;

    &.populated {
      input {
        border-bottom-left-radius: 0;
      }
      button {
        border-bottom-right-radius: 0;
      }
    }

    input {
      flex: 1;
    }

    button {
      background-color: white;
      border-color: $secondary-lightgray;
      color: $primary-lightgray;
      cursor: default;
      box-sizing: border-box;
      padding: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      width: 70px;

      &:hover {
        background-color: white;
        border-color: $secondary-lightgray;
        color: $primary-lightgray;
        cursor: default;
      }

      &.text-entered {
        background-color: $accent-blue;
        color: white;
        cursor: pointer;
      }
    }
  }

  ul.ingredients-list {
    li {
      border: 1px solid $secondary-lightgray;
      border-left: 3px solid $secondary-lightgray;
      border-top: none;
      font-size: 1rem;
      padding-left: 0.5rem;
      height: 50px;
      display: flex;
      align-items: center;
    }
    li:first-child {
      // border-top-left-radius: 5px;
      // border-top-right-radius: 5px;
    }
    li:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
